html,
body {
    background-color: #acd1ad;
    height: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 10px;
    flex: 0.5;
    transition: all 0.7s ease-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6);
}

.card.active {
    flex: 3;
}

.container {
    padding: 2px 16px;
}

.fake-container {
    padding: 0px 0px;
}

.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #acd1ad;
}

.search-buttons {
    display: flex;
    justify-content: center;
}

#matcha-color {
    color: #ffffff;
}

.top-text {
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-between;
    align-items: start;
}

.logo-container img {
    margin-top: 15px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.input-box {
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 430px;
    position: relative;
}

.left-input-box {
    margin-right: 20px;
}

.caffeine-checklist {
    list-style-type: none;
    display: flex;
    margin-bottom: 30px;
    color: #344e41;
    width: 570px;
    justify-content: space-between;
    align-items: center;
}

#caffeine-prompt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
}

#caffeine-checks {
    margin-top: 10px;
    display: flex;
    width: 260px;
    justify-content: space-between;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background-color: #eee;
}

.check-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
    background-color: #6b9080;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.check-container input:checked ~ .checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input-box input {
    width: 100%;
    padding: 5px;
    margin: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

.input-box select {
    width: 100%;
    outline: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
}

.select2-container .select2-selection--multiple {
    border: 0 !important;
    margin: 8px;
    margin-left: 10px;
}

.select2-container .select2-dropdown {
    margin-top: -8px;
    border: 0 !important;
}

.select2-container .select2-dropdown .select2-results {
    font-family: 'Montserrat', sans-serif;
    border: 0 !important;
}  

.select2-results__option--highlighted {
    color: white !important;
    background-color: #6b9080 !important;
}
  
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: darkgray;
}

.select2-selection__choice__display {
    font-family: 'Montserrat', sans-serif;
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected,
.select2-container .select2-dropdown .select2-results__options .select2-results__option[aria-selected="true"]:not(.select2-results__option--highlighted) {
    color: #fff;
    background-color: #6b9080;
}

.select2-container .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    padding: 2px;
    font-size: 16px;
    color: #212529;
    cursor: auto;
    background-color: #eaf4f4;
    border: none;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#answer-box {
    width: 700px;
    margin-top: 40px;
    align-self: center;
}

#find-teas-button {
    height: 35px;
    width: 160px;
    color: white;
    border-radius: 10px;
    background-color: #52796F;
    border: none;
    border-color: #52796F;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#regen-button {
    height: 35px;
    width: 160px;
    display: none;
    border: 2px solid #52796F;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    color: #52796F;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.search-buttons {
    background-color: transparent;
    padding-bottom: 0px;
    display: flex;
    margin-left: 460px;
    margin-right: 460px;
    margin-top: -30px;
    justify-content: space-around;
}

.tea-card {
    margin-bottom: 40px;
}

.tea-title {
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    font-size: 21px;
    padding-bottom: 0px;
}

.tea-score {
    font-family: 'Montserrat', sans-serif;
    padding-top: 0px;
    font-weight: 600;
}

.green-score {
    color: #90be6d
}

.yellow-score {
    color: #ffbc42
}

.red-score {
    color: #ff4d6d
}

.tea-desc {
    font-family: 'Montserrat', sans-serif;
}

.tea-desc-full {
    font-family: 'Montserrat', sans-serif;
    display: none;
}

.tea-brands {
    font-family: 'Montserrat', sans-serif;
    color: #343a40;
    font-size: 14px;
    font-weight: 550;
}

.caffeine {
    font-family: 'Montserrat', sans-serif;
    color: #343a40;
    font-size: 14px;
    font-weight: 550;
}

.rating {
    font-family: 'Montserrat', sans-serif;
    color: #343a40;
    font-size: 14px;
    font-weight: 550;
}

.no-teas {
    margin-left: 50px;
}

.button-group {
    background-color: transparent;
    float: right;
    padding-bottom: 0px;
    padding-top: 20px;
}

.like-button, .dislike-button {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
}

.like-button img, .dislike-button img {
    cursor: pointer;
    width: 25px;
    height: 25px;
    filter: grayscale(100%);
}

.like-button.clicked, .dislike-button.clicked {
    animation: clicked .4s ease;
}

.like-button.clicked img, .dislike-button.clicked img {
    filter: none;
}

.filter-container {
    width: 700px;
    margin-top: 30px;
    display: none;
    justify-content: flex-end;
}

.filter-container select {
    width: 100px;
    -webkit-appearance: menulist-button;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
}

@keyframes clicked {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#message-text {
    font-family: 'Montserrat', sans-serif;
    width: 570px;
    font-size: 18px;
    text-align: center;
}