<!doctype html>
<title>Match-A Tea</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" />
            </div>
            <div class="input-container">
                <div class="input-box left-box">
                    <select id="search-tea" multiple>
                        <option></option>
                    </select>
                </div>
                <div class="input-box" onclick="sendFocusDescription()">
                    <input placeholder="Add a flavor profile you enjoy!" id="search-description-text-val" />
                </div>    
            </div>
        </div>
        </br>
        <div class="search-buttons">
            <button id="find-teas-button" onClick="searchTeas()">Find Teas!</button>
            <button id="regen-button" onClick="regenSearch()">Regenerate Search!</button>
        </div>
        <div id="answer-box"></div>
    </div>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Select 2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        function formatScore(score) {
            return "Percent Confidence: " + Math.round(score * 100, 2) + "%"
        }

        function formatDescription(description) {
            descriptionSentences = description.toString().split('. ');
            finalDescription = descriptionSentences[0];
            if (descriptionSentences.length > 1) finalDescription += '. ' + descriptionSentences[1];
            if (descriptionSentences.length > 2) finalDescription += '. ' + descriptionSentences[2];
            if (descriptionSentences.length > 3) finalDescription += '...';
            return finalDescription;
        }

        function formatBrands(brands) {
            if (brands.length == 0) return "No recommended brands for this tea"
            else return "Recommended Brands: " + brands.toString().replaceAll(',', ', ');
        }

        function formatCaffeine(caffeine) {
            return "Caffeine Content: " + caffeine.toString();
        }

        function myFunction(x) {
            x.classList.toggle("fa-thumbs-down");
        }

        function answerBoxTemplate(name, description, brands, caffeine, score, num) {
            return `<div class='card' id='card${num}'>
                <div class='container'>
                <h3 class='tea-title'>${name}</h3>
                <div class='button-group'>
                    <button id='like${num}' class='like-button' onClick='likeClick(this, ${num})'>
                        <img src="{{ url_for('static', filename='images/like.png') }}">
                    </button>
                    <button id='dislike${num}' class='like-button' onClick='dislikeClick(this, ${num})'>
                        <img src="{{ url_for('static', filename='images/dislike.png') }}">
                    </button>
                </div>
                <div class='fake-container' onClick='expandCard(${num})'>
                    <p class='tea-score'>${formatScore(score)}</p>
                    <p id='desc${num}' class='tea-desc'>${formatDescription(description)}</p>
                    <p id='fulldesc${num}' class='tea-desc-full'>${description.toString()}</p>
                    <p class='tea-brands'>${formatBrands(brands)}</p>
                    <p class='caffeine'>${formatCaffeine(caffeine)}</p>
                </div>
            </div>
            </div>`
        }

        function sendFocusTea() {
            document.getElementById('search-tea-text-val').focus()
        }

        function sendFocusDescription() {
            document.getElementById('search-description-text-val').focus()
        }

        function autocomplete(inp, arr) {
            var currentFocus;

            inp.addEventListener("input", function (e) {
                var a, v, i, val = this.value;
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });

            // using arrow keys to move up and down dropdown menu
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) { // down arrow pressed
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) { // up arrow pressed
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) { // enter key pressed
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });

            // classify an item as active
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }

            // declassify all items as active
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }

            // close all autocomplete lists except elt
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            // execute a function when someone clicks in
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        };

        function searchTeas() {
            document.getElementById("answer-box").innerHTML = ""

            let searchTeas = []
            $('#search-tea').select2('val').forEach(tea => searchTeas.push(tea))

            fetch("/api/teas?" + new URLSearchParams({ 
                tea: searchTeas,
                description: document.getElementById("search-description-text-val").value
            }).toString(), { method: "POST" })
                .then((response) => response.json())
                .then((data) => {
                    let numTeasDisplayed = 0
                    data.data.forEach(row => {
                        if (row.score > 0.05) { // TODO - choose an appropriate score cutoff
                            numTeasDisplayed += 1
                            let tempDiv = document.createElement("div")
                            tempDiv.innerHTML = answerBoxTemplate(row.tea_category, row.about, row.brands, row.caffeine, row.score, numTeasDisplayed)
                            document.getElementById("answer-box").appendChild(tempDiv)
                        }
                    });
                    if (numTeasDisplayed == 0) {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = `<div class='no-teas'>
                                                <h3>${'No teas match your search ;('}</h3>
                                            </div>`
                        document.getElementById("answer-box").appendChild(tempDiv)
                    }
                });
            document.getElementById("regen-button").style.display = "inline-block";
        }

        $('#search-tea').select2({
            placeholder: "Add teas you enjoy!",
            maximumSelectionLength: 3,
            closeOnSelect: true, 
            theme: "classic"
        });

        fetch("/api/tea_names/")
            .then((response) => response.json())
            .then((data) => data.forEach(tea => $('#search-tea').append(`<option>${tea}</option>`)));
            
        function regenSearch() {
            // for amy to do stuff
            document.getElementById("answer-box").innerHTML = "";
            fetch("/api/teas?" + new URLSearchParams({
                tea: document.getElementById("search-tea-text-val").value,
                description: document.getElementById("search-description-text-val").value
            }).toString(), { method: "POST" })
                .then((response) => response.json())
        }

        function likeClick(elmnt, id) {
            let dislike = document.getElementById("dislike" + id);
            if (elmnt.classList.contains("clicked")) {
                elmnt.classList.remove("clicked");
            } else if (dislike.classList.contains("clicked")) {
                dislike.classList.remove("clicked");
                elmnt.classList.add("clicked");
            } else {
                elmnt.classList.add("clicked");
            }
        };

        function dislikeClick(elmnt, id) {
            let like = document.getElementById("like" + id);
            if (elmnt.classList.contains("clicked")) {
                elmnt.classList.remove("clicked");
            } else if (like.classList.contains("clicked")) {
                like.classList.remove("clicked");
                elmnt.classList.add("clicked");
            } else {
                elmnt.classList.add("clicked");
            }
        };

        function expandCard(id) {
            let elmnt = document.getElementById("card" + id);
            if (elmnt.classList.contains("active")) {
                elmnt.classList.remove("active");
                document.getElementById("desc" + id).style.display = "block";
                document.getElementById("fulldesc" + id).style.display = "none";
            } else {
                elmnt.classList.add("active");
                document.getElementById("desc" + id).style.display = "none";
                document.getElementById("fulldesc" + id).style.display = "block";
            }
        };
    </script>
</body>