<!doctype html>
<title>Match-A Tea</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" />
            </div>
            <div class="input-container">
                <div class="input-box left-box">
                    <select id="search-tea" multiple>
                        <option></option>
                    </select>
                </div>
                <div class="input-box" onclick="sendFocusDescription()">
                    <input placeholder="Add a flavor profile you enjoy!" id="search-description-text-val" />
                </div>
            </div>
        </div>
        </br>
        <div class="search-buttons">
            <button id="find-teas-button" onClick="searchTeas()">Find Teas!</button>
            <button id="regen-button" onClick="regenSearch()">Re-generate Search!</button>
        </div>
        <div id="answer-box"></div>
    </div>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Select 2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        // Keep track of relevant and irrelevant teas
        let relevantTeas = [];
        let irrelevantTeas = [];
        // Current results 
        let currentResults = [];

        function formatScore(score) {
            return "Percent Confidence: " + Math.round(score * 100, 2) + "%"
        }

        function formatDescription(description) {
            descriptionSentences = description.toString().split('. ');
            finalDescription = descriptionSentences[0];
            if (descriptionSentences.length > 1) finalDescription += '. ' + descriptionSentences[1];
            if (descriptionSentences.length > 2) finalDescription += '. ' + descriptionSentences[2];
            if (descriptionSentences.length > 3) finalDescription += '...';
            return finalDescription;
        }

        function formatBrands(brands) {
            if (brands.length == 0) return "No recommended brands for this tea"
            else return "Recommended Brands: " + brands.toString().replaceAll(',', ', ');
        }

        function formatCaffeine(caffeine) {
            return "Caffeine Content: " + caffeine.toString();
        }

        function myFunction(x) {
            x.classList.toggle("fa-thumbs-down");
        }

        function answerBoxTemplate(name, description, brands, caffeine, score, num) {
            return `<div class='card' id='card${num}'>
                <div class='container'>
                <h3 class='tea-title'>${name}</h3>
                <div class='button-group'>
                    <button id='like${num}' class='like-button' onClick='likeClick(this, ${num})'>
                        <img src="{{ url_for('static', filename='images/like.png') }}">
                    </button>
                    <button id='dislike${num}' class='dislike-button' onClick='dislikeClick(this, ${num})'>
                        <img src="{{ url_for('static', filename='images/broken.png') }}">
                    </button>
                </div>
                <div class='fake-container' onClick='expandCard(${num})'>
                    <p class='tea-score'>${formatScore(score)}</p>
                    <p id='desc${num}' class='tea-desc'>${formatDescription(description)}</p>
                    <p id='fulldesc${num}' class='tea-desc-full'>${description.toString()}</p>
                    <p class='tea-brands'>${formatBrands(brands)}</p>
                    <p class='caffeine'>${formatCaffeine(caffeine)}</p>
                </div>
            </div>
            </div>`
        }

        function sendFocusTea() {
            document.getElementById('search-tea-text-val').focus()
        }

        function sendFocusDescription() {
            document.getElementById('search-description-text-val').focus()
        }

        function searchTeas() {
            document.getElementById("answer-box").innerHTML = ""

            let searchTeas = []
            $('#search-tea').select2('val').forEach(tea => searchTeas.push(tea))

            fetch("/api/teas?" + new URLSearchParams({
                tea: searchTeas,
                description: document.getElementById("search-description-text-val").value
            }).toString(), { method: "POST" })
                .then((response) => response.json())
                .then((data) => {
                    currentResults = data.data;
                    let numTeasDisplayed = 0
                    data.data.forEach(row => {
                        if (row.score > 0.05) { // TODO - choose an appropriate score cutoff
                            numTeasDisplayed += 1
                            let tempDiv = document.createElement("div")
                            tempDiv.innerHTML = answerBoxTemplate(row.tea_category, row.about, row.brands, row.caffeine, row.score, numTeasDisplayed)
                            document.getElementById("answer-box").appendChild(tempDiv)
                        }
                    });
                    if (numTeasDisplayed == 0) {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = `<div class='no-teas'>
                                                <h3>${'No teas match your search ;('}</h3>
                                            </div>`
                        document.getElementById("answer-box").appendChild(tempDiv)
                    }
                });
            document.getElementById("regen-button").style.display = "inline-block";
        }

        $('#search-tea').select2({
            placeholder: "Add teas you enjoy!",
            maximumSelectionLength: 3,
            closeOnSelect: true,
            theme: "classic"
        });

        fetch("/api/tea_names/")
            .then((response) => response.json())
            .then((data) => data.forEach(tea => $('#search-tea').append(`<option>${tea}</option>`)));

        function regenSearch() {
            document.getElementById("answer-box").innerHTML = "";
            let searchTeas = []
            $('#search-tea').select2('val').forEach(tea => searchTeas.push(tea))

            fetch("/api/teas/regenerate?" + new URLSearchParams({
                tea: searchTeas,
                description: document.getElementById("search-description-text-val").value,
                relevant: relevantTeas,
                irrelevant: irrelevantTeas,
            }).toString(), { method: "POST" })
                .then((response) => response.json())
                .then((data) => {
                    currentResults = data.data;
                    let numTeasDisplayed = 0
                    data.data.forEach(row => {
                        if (row.score > 0.05) { // TODO - choose an appropriate score cutoff
                            numTeasDisplayed += 1
                            let tempDiv = document.createElement("div")
                            tempDiv.innerHTML = answerBoxTemplate(row.tea_category, row.about, row.brands, row.caffeine, row.score, numTeasDisplayed)
                            document.getElementById("answer-box").appendChild(tempDiv)
                        }
                    });
                    if (numTeasDisplayed == 0) {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = `<div class='no-teas'>
                                                <h3>${'No teas match your search ;('}</h3>
                                            </div>`
                        document.getElementById("answer-box").appendChild(tempDiv)
                    }
                });
            
            relevantTeas = []
            irrelevantTeas = []
        }

        function updateRelevant(id, remove) {
            let tea = currentResults[id].tea_category
            if (remove) {
                relevantTeas = relevantTeas.filter(e => e != tea)
            } else {
                relevantTeas.push(tea)
            }
        }

        function updateIrrelevant(id, remove) {
            let tea = currentResults[id].tea_category
            if (remove) {
                irrelevantTeas = irrelevantTeas.filter(e => e != tea)
            } else {
                irrelevantTeas.push(tea)
            }
        }

        function likeClick(elmnt, id) {
            let dislike = document.getElementById("dislike" + id);
            let tea_id = id - 1;
            if (elmnt.classList.contains("clicked")) {
                elmnt.classList.remove("clicked");
                updateRelevant(tea_id, true);
            } else if (dislike.classList.contains("clicked")) {
                dislike.classList.remove("clicked");
                elmnt.classList.add("clicked");
                updateIrrelevant(tea_id, true);
                updateRelevant(tea_id, false);
            } else {
                elmnt.classList.add("clicked");
                updateRelevant(tea_id, false);
            }
        };

        function dislikeClick(elmnt, id) {
            let like = document.getElementById("like" + id);
            let tea_id = id - 1;
            if (elmnt.classList.contains("clicked")) {
                elmnt.classList.remove("clicked");
                updateIrrelevant(tea_id, true);
            } else if (like.classList.contains("clicked")) {
                like.classList.remove("clicked");
                elmnt.classList.add("clicked");
                updateRelevant(tea_id, true)
                updateIrrelevant(tea_id, false);
            } else {
                elmnt.classList.add("clicked");
                updateIrrelevant(tea_id, false);
            }
        };

        function expandCard(id) {
            let elmnt = document.getElementById("card" + id);
            if (elmnt.classList.contains("active")) {
                elmnt.classList.remove("active");
                document.getElementById("desc" + id).style.display = "block";
                document.getElementById("fulldesc" + id).style.display = "none";
            } else {
                elmnt.classList.add("active");
                document.getElementById("desc" + id).style.display = "none";
                document.getElementById("fulldesc" + id).style.display = "block";
            }
        };
    </script>
</body>