<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="matcha-title">
                <h1 id="matcha-color">Match-A Tea</h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a tea or flavor profile that you enjoy!" id="search-tea-text-val"
                    onkeyup="searchText()">
            </div>
        </div>
        <div id="answer-box"></div>
    </div>

    <script>
        function answerBoxTemplate(name, description) {
            return `<div class=''>
                <h3 class='tea-name'>${name}</h3>
                <p class='tea-desc'>${description}</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('search-tea-text-val').focus()
        }

        function searchText() {
            document.getElementById("answer-box").innerHTML = ""
            fetch("/api/teas?" + new URLSearchParams({ tea: document.getElementById("search-tea-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    console.log(data.top_k_teas) // TODO - create a dropdown with these teas and allow the user to select which one is most similar instead of automatically searching for the most similar by edit distance
                    data.data.forEach(row => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.tea_category, row.about)
                        document.getElementById("answer-box").appendChild(tempDiv)
                    });
                });
        }

    </script>
</body>